.automation-list-box--body--item--title {
    display: flex;
    flex-direction: column;
    padding-left: 0.25em;
    flex: 1;
}

.automation-list-box--body--item--title>b {
    font-size: 1em;
    display: flex;
    align-items: center;
    gap: 0.25em;
}

.automation-list-box--body--item--title .input-text-view span {
    max-height: 1.5em;
}

.automation-list-box--body--item--title>span, .automation-list-box--body--item--title>b>span {
    font-size: 0.75em;
}


.automation-list-box--body--item--tags {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    font-size: 0.75em;
    justify-content: left;
    align-items: flex-start;
    overflow: auto;
    max-height: 100%;
    gap: 0.25em;
}

.automation-list-box--body--item--tags>span {
    border-color: var(--mui-grey-400);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.5em;
    padding: 0.1em 0.5em;
}

.automation-list-box--body--item--tags--item {
    color: white;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 0.5em;
    padding: 0.1em 0.5em;

    display: flex;
    flex-direction: row;
    gap: 0.25em;
    max-width: min-content;
    align-items: center;

}

.automation-list-box--body--item--tags--item>.text:hover {
    text-decoration: underline;
    cursor: pointer;
}

.automation-list-box--body--item--tags--item>.text {
    position: relative;
}

.automation-list-box--body--item--tags--item>.text .MuiFilledInput-root {
    padding: 0;
    min-width: 6em;
    max-width: 10em;
    background-color: var(--mui-common-black);
}

.automation-list-box--body--item--tags--item>.text .icon {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    cursor: pointer;
}

.automation-list-box--body--item--tags--item>.text .icon:hover {
    background-color: var(--mui-grey-400);
    border-radius: 20px;
}

.automation-list-box--body--item--tags--item>.text .icon:hover svg {
    fill: var(--mui-common-black);
}

.automation-list-box--body--item--tags--item .delete {
    font-size: 1em;
    color: var(--mui-error-light);
}

.automation-list-box--body--item--tags--item .delete:hover {
    color: var(--mui-error-dark);
    outline: 1px solid var(--mui-error-dark);
    border-radius: 20px;
}