/* root elements */
.automation-list--root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.automation-list--list {
    flex: 1;
    max-width: 400px;
    position: relative;
}

.automation-list--viewer {
    overflow: hidden;
    flex: 1;
}

/* Loading state */
.automation-list--root.loading {
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.automation-list--root.loading>* {
    width: 100%;
}

.automation-list--root.loading .automation-list--circle-loader {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

/* list children: on hide */
.automation-list--list.hide>.automation-list-box {
    width: 0;
    opacity: 0;
}

.automation-list--list.hide {
    min-width: 35px;
    max-width: 35px;
}

.automation-list--list.hide>.automation-list--list-hide {
    transform: rotate(180deg);
    left: 0;
}

/* list children: normal */
.automation-list--list {
    border-right: solid;
    border-width: 1px;
}

.automation-list--list .automation-list--list-hide {
    position: absolute;
    bottom: 0em;
    left: 0.5em;
    max-width: 1.5em;
    max-height: 1.5em;
}