/* none-hidden */
.automation-list--root.mobile {
    flex-direction: column;
}

.automation-list--root.mobile>.automation-list--list {
    max-width: 100vw;
    min-height: 100vh;
}

.automation-list--root.mobile .automation-editor {
    flex-direction: column;
}

.automation-list--root.mobile .automation-list--list-hide {
    transform: rotate(90deg);
    left: 0.25em;
}


/* list hide */
.automation-list--root.mobile .automation-list--list.hide {
    width: 100vw;
    min-height: 0;
    max-height: 0;
}

.automation-list--root.mobile .automation-list--list.hide .automation-list--list-hide {
    transform: rotate(270deg);
    position: fixed;
    top: 0.5em;
    z-index: 5;
}

.automation-list--root.mobile .automation-editor--flow-wrapper>.automation-editor--flow-wrapper--toolbar .input-text-view,
.automation-list--root.mobile .automation-editor--flow-wrapper>.automation-editor--flow-wrapper--toolbar .id {
    display: none;
}