:root {
    --primary: #111;
    --primary-light: #333;
    --primary-light-opaque: #3335;
    --secondary-opaque: #1c1c1c;
    --secondary: #1c1c1c;
    --primary-accent: #bbb;
    --primary-accent-light: #eee;
    --secondary-accent: #929191;
    --green: #1f1;
    --green-opaque: #1f15;
    --green-light: #6f5;
    --error: #c55;
    --error-light: #f77;
    --error-opaque: #c555;
    --error-accent: #9f3a3a;
    --change: #0f9;
    --condition-primary: #447;
    --condition-accent: #8af;
    --condition-primary-opaque: #4476;
    touch-action: pan-x pan-y;
    height: 100%;
}


html,
body,
#root {
    margin: 0 !important;
    padding: 0 !important;
    height: 100vh;
    width: 100vw;
    overflow: hidden !important;
    font-family: Tahoma, Geneva, sans-serif;
    display: flex !important;
    align-items: center;
    justify-items: center;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--secondary);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--secondary-accent);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--primary-accent);
}

* {
    transition: all 200ms ease-out;
}

.column {
    display: flex;
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
}