@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

:root {
    --green-opaque: #1f15;
    --condition-primary-opaque: #4476;
    touch-action: pan-x pan-y;
    height: 100%;
}


html,
body,
#root {
    margin: 0 !important;
    padding: 0 !important;
    height: 100vh;
    width: 100vw;
    overflow: hidden !important;
    font-family: Tahoma, Geneva, sans-serif;
    display: flex !important;
    align-items: center;
    justify-items: center;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--mui-secondary-contrastText);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--mui-grey-700);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--mui-grey-400);
}

* {
    transition: all 200ms ease-out;
}

.column {
    display: flex;
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
}


.text-ellipsis {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.text-ellipsis span, a, h1, h2, h3, h4, h5, h6 {
    display: table-cell;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}