.sequence-node {
    font-size: 0.9em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;

    max-height: var(--sequence-node-height);
    max-width: var(--sequence-node-width);
    height: var(--sequence-node-height);
    width: var(--sequence-node-width);
    min-height: var(--sequence-node-height);
    min-width: var(--sequence-node-width);
}

.sequence-node.disabled .sequence-node--inner {
    background-color: var(--mui-grey-500);
}

.sequence-node.enabled .sequence-node--inner {
    background-color: var(--mui-background-default);
}

.sequence-node--inner {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.25em 0.75em 0.5em 0.75em;
    border-style: solid;
    border-top-width: 0.25em;
    border-left-width: 1px;
    border-right-width: 1px;
    border-radius: 10px;


    border-bottom-color: var(--mui-grey-500);
    border-left-color: var(--mui-grey-700);
    border-right-color: var(--mui-grey-700);
    border-top-color: var(--sequence-node-color);
    max-height: calc(var(--sequence-node-height) - 1em);
    max-width: calc(var(--sequence-node-width) - 1em);
    min-width: calc(max(var(--sequence-node-width) / 2, var(--sequence-node-height) / 2));
}

.sequence-node.closed .sequence-node--label .icon {
    transform: rotate(180deg);
    color: var(--mui-primary-main);
}

.sequence-node.closed:hover .sequence-node--label .icon, .sequence-node.open:hover .sequence-node--label .icon {
    outline: 1px solid var(--mui-secondary-main);
    color: var(--mui-secondary-main);
    border-radius: 50px;
    transform: scale(0.95, 0.95);
}

.sequence-node.open:hover .sequence-node--label .icon {
    transform: rotate(-10deg);
}

.sequence-node.closed:hover .sequence-node--label .icon {
    transform: rotate(190deg);
}

.sequence-node.closed .sequence-node--label, .sequence-node.open .sequence-node--label {
    cursor: pointer;

}

.sequence-node--label {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;

    max-height: calc(var(--sequence-node-height) - 1em);
    max-width: calc(var(--sequence-node-width) - 1em);
    min-height: 1em;
}

.sequence-node--label span {
    text-align: center;
    white-space: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sequence-node--enabled-flag {
    position: absolute;
    top: -1.5em;
    right: -2.5em;
}


.sequence-node--midway-options {
    position: absolute;
    bottom: -2.5em;
    left: calc(50%-0.5em);
    z-index: 10;
}

.sequence-node--midway-options button {
    padding: 0;
    color: var(--mui-primary-main);
    background-color: var(--mui-primary-contrastText);
}

.sequence-node--midway-options button:hover {
    color: var(--mui-primary-dark);
    background-color: var(--mui-primary-contrastText);
}

.sequence-node .sequence-node--inner .speed-dial {
    height: 2em;
    width: 2em;
    min-height: 2em;
    max-height: 2em;
    position: absolute;
    top: -1em;
    left: -1em;
    background-color: var(--mui-background-paper);
    border-color: var(--mui-grey-400);
    border-style: solid;
    border-width: 0.5px;
    border-radius: 20px;
}

.open>.sequence-node--actions-btn, .sequence-node--actions-btn:hover {
    color: var(--mui-common-black);
    background-color: var(--mui-grey-400);
    border-radius: 20px;
}

.sequence-node--actions--move .icon-2 {
    position: absolute;
    bottom: 10%;
    left: 60%;
    font-size: 0.75em;
}

.sequence-node--actions--move.right {
    transform: rotate(180deg);
}

.sequence-node--actions--move.up {
    transform: rotate(90deg);
}

.sequence-node--actions--move.down {
    transform: rotate(270deg);
}