.service-editor {
    display: flex;
    flex-direction: column;
    padding: 0.5em 0.25em;
    margin: 0.5em 0.25em;
    border-color: var(--primary-accent);
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    background-color: var(--secondary);
}

.service-editor hr {
    width: 90%;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.service-editor h4 {
    margin: 0;
    padding: 0;
}

.service-editor--name {
    display: flex;
    flex-direction: column;
}

.service-editor--name span {
    font-size: 0.75em;
    text-overflow: clip;
    margin-left: 0.25em;
}

.service-editor--add {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.service-editor--add--list {
    flex: 1;
}