.automation-manager--metadatabox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 0.25em;

    padding: 0.25em;
    background-color: var(--mui-background-paper);

    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    border-radius: 10px;
}

.automation-manager--metadatabox:hover, .automation-manager--metadatabox.selected {
    border-color: var(--mui-action-focus);
    background-color: var(--mui-action-focus);
}

.automation-manager--metadatabox .metadatabox--title .input-text-view {
    max-width: fit-content;
}

.automation-manager--metadatabox .metadatabox--title {
    flex: 1;
    max-width: calc(80% - 5em);
}

.automation-manager--metadatabox .metadatabox--switch {
    width: 5em;
}

.automation-manager--metadatabox .metadatabox--title .title {
    font-size: 1.25em;
    font-weight: bold;
}

.automation-manager--metadatabox .metadatabox--title .issue {
    padding: 0 0.5em;
    user-select: none;
    max-width: fit-content;
}

.automation-manager--metadatabox .metadatabox--title .description {
    font-size: 0.9em;
}

.automation-manager--metadatabox .buttons {
    display: flex;
    flex-direction: row;
    gap: 0.25em;
}

.automation-manager--metadatabox .delete:hover {
    cursor: pointer;
    color: var(--mui-error-light);
    color: var(--mui-error-contrastText);
    background-color: var(--mui-error-dark);
}

.automation-manager--metadatabox .run:hover {
    cursor: pointer;
    color: var(--mui-success-contrastText);
    background-color: var(--mui-success-dark);
}

.automation-manager--metadatabox .select:hover,
.automation-manager--metadatabox.selected.automation-manager--metadatabox .select {
    cursor: pointer;
    color: var(--mui-primary-light);
    background-color: var(--mui-primary-dark);
}

.automation-manager--metadatabox.selected.automation-manager--metadatabox .select:hover {
    color: var(--mui-secondary-light);
    background-color: var(--mui-secondary-dark);
    cursor: default;
}

.automation-manager--metadatabox {
    --metadatabox--switch-width: 5em;
    --metadatabox--title--source-height: 1.5em;
}

.automation-manager--metadatabox .metadatabox--switch {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.75em;
    user-select: none;
    max-width: var(--metadatabox--switch-width);
}

.automation-manager--metadatabox .metadatabox--title {
    position: relative;
    padding-top: var(--metadatabox--title--source-height);
}

.automation-manager--metadatabox .metadatabox--title--source {
    position: absolute;
    margin-bottom: -0.5em;
    left: calc(0.75em - var(--metadatabox--switch-width));
    top: 0;
}


.automation-manager--metadatabox .metadatabox--title--source .MuiChip-root {
    font-size: 0.6em;
    max-height: calc(var(--metadatabox--title--source-height));
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    height: fit-content;
    max-width: 60%;
    min-width: fit-content;
}