.automation-editor--info-box {
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    position: relative;
}

.automation-editor--info-box-inner {
    height: 100%;
    overflow: auto;
}

.automation-editor--info-box.show {
    min-width: 20em;
}

.automation-editor--info-box.hide {
    min-width: 1em;
}

.automation-editor--info-box.hide>.automation-editor--info-box-inner {
    display: none;
}

.automation-editor--info-box--tags {
    padding: 0.25em 0.75em 1em 0.75em;
    border-color: var(--primary-accent);
    border-width: 1px;
    border-style: ridge;
    border-radius: 5px;
}

.automation-editor--info-box--tag-list {
    max-height: 30vh;
    overflow-y: scroll;
    padding-left: 0.25em;
    padding-right: 0.25em;
}

.automation-editor--info-box--tags>h1 {
    font-size: 1.5em;
}

.automation-editor--info-box--tag {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5em;
    margin-bottom: 0.5em;
}

.automation-editor--info-box--tag>div {
    margin: 0;
    flex: 1;
}

.automation-editor--info-box--tag>div>input {
    max-width: 5em;
    padding: 1em 0.25em 0.2em 0.25em;
}

.automation-editor--info-box--tag--trash, .automation-editor--info-box--tag--add {
    height: 2em;
    width: 2em;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}