.automation-editor--info-box {
    min-width: 25px;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: auto;
    position: relative;
}

.automation-editor--info-box.hide>.automation-editor--info-box-inner {
    display: none;
}

.automation-editor--info-box--tags {
    margin: 1em;
    padding: 0.25em 0.75em 1em 0.75em;
    border-color: var(--primary-accent);
    border-width: 1px;
    border-style: ridge;
    border-radius: 5px;
}

.automation-editor--info-box--tags>h1 {
    font-size: 1.5em;
}

.automation-editor--info-box--tag {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.automation-editor--info-box--tag>button {
    height: 1.25em;
    width: 1.25em;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.automation-editor--info-box--tag--error {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0.5em 0;
    margin: 0 30%;
}

.automation-editor--info-box--tag--error.hide {
    height: 0;
    opacity: 0;
}

.automation-editor--info-box--tag--error.show {
    height: fit-content;
    opacity: 1;
}