.automation-editor {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.automation-editor-failures {
    display: flex;
    flex-direction: column;
    padding: 1em;
    overflow: scroll;
    height: 100%;
}

.automation-editor--flow-wrapper {
    flex: 1;
    padding: 0 0.5em 0 0.5em;
    max-height: 100%;
    max-width: 100%;

    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.automation-editor--flow-wrapper--toolbar {
    display: flex;
    flex-direction: row;
    gap: 0.25em;
    justify-content: flex-end;
    margin-top: 0.25em;
}

.automation-editor--flow-wrapper.changed>.automation-editor--flow-wrapper--toolbar * {
    border-color: var(--mui-success-light);
    color: var(--mui-success-light)
}


.automation-editor--flow-wrapper--toolbar--save-btn {
    display: flex;
    gap: 0.5em;
    align-items: center;
    padding: 0.25em;
}

.automation-editor--flow-wrapper.changed>.automation-editor--flow-wrapper--flow {
    border-color: var(--mui-success-light);
}

.automation-editor--flow-wrapper--flow {
    flex: 1;
    border: 1px solid var(--mui-grey-700);
    margin: 0 0 0.5em 0;
    z-index: 1;
}

.automation-editor--info-box {
    position: relative;
}

.automation-editor .automation-editor--info-box--icon {
    position: absolute;
    left: 0.25em;
    bottom: 0em;
    z-index: 10;
    max-width: 1.5em;
    max-height: 1.5em;
}

.automation-editor--info-box.hide>.automation-editor--info-box--icon {
    transform: rotate(180deg);
    z-index: 2;
    left: 0.1em;
}

.automation-editor.loading .mock-list {
    position: absolute;
    left: 0;
    width: 40%;
    height: 100%;
}


.automation-editor.loading .mock-graph {
    position: absolute;
    left: 40%;
    width: 60%;
    height: 100%;
}

.automation-editor .linear-loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}