.automation-editor--info-icon {
    position: absolute;
    right: 1.5em;
    bottom: 0.5em;
    z-index: 10;
}

.automation-editor--info-box.hide>.automation-editor--info-icon {
    transform: rotate(180deg);
}