html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: Tahoma, Geneva, sans-serif;
  background-color: $primary;
  display: grid;
  align-items: center;
  justify-items: center;
  color: $font-color-primary;
}

h1,
h2,
h3,
h4,
h5 {
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $secondary;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $secondary-accent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $primary-accent;
}

:root {
  touch-action: pan-x pan-y;
  height: 100%;
}

button {
  background-color: $secondary;
  color: $primary-accent;
  border-color: $primary-accent;

  &:hover {
    background-color: $primary;
    border-color: $secondary-accent;
  }

  &:disabled {
    background-color: $gray;
    border-color: $gray;
    color: darken($gray, 50);
    cursor: not-allowed;
  }

  &.secondary {
    background-color: $primary;
    color: $secondary-accent;
    border-color: $secondary-accent;
    &:hover {
      background-color: $secondary;
      border-color: $primary-accent;
    }
  }

  border-style: solid;
  border-width: 1px;
  padding: 2.5%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 5px;
  cursor: pointer;
}

select {
  @extend button;
  margin: 0;
}
input {
  @extend button;
  margin: 0;
  cursor: text;
}
input[type="number"]::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  opacity: 0;
}
span.checkbox {
  height: 16px;
  width: 16px;
  font-size: 12px;
  cursor: pointer;
  border: 1px $primary-accent solid;
  align-content: center;
  text-align: center;
  justify-content: center;
  display: flex;
  background-color: $primary;
  color: $primary-accent;
  overflow: hidden;

  &:hover {
    background-color: $secondary;
    color: $secondary-accent;
  }
}
