.tooltip {
  &.hide {
    width: 0;
    height: 0;
    display: none;
  }
  &-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9;
  }
  ul {
    position: absolute;
    left: 0;
    top: 0;

    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 10;

    li {
      @extend button;
      margin: 0;
    }
  }
}
