.input-autocomplete .BaseBadge-root {
    max-width: 100%;
}

.input-autocomplete--chip>span {
    display: flex;
    flex-direction: row;
    gap: 0.15em;
}

.input-autocomplete--chip>span>small::before {
    content: "/ ";
}

.input-autocomplete--chip>span>small {
    size: 0.15em;
}

.input-autocomplete--errors {
    margin-top: 0.75em;
}

.input-autocomplete--errors ul {
    padding: 0 0 0 1em;
    margin: 0;
    max-height: 2.5em;
    overflow-y: auto;
    overflow-x: hidden;
}

.input-autocomplete--tags {
    max-height: 5em;
    width: fit-content;
    max-width: 100%;
    overflow: auto;
    text-overflow: ellipsis;
}

.input-autocomplete--chip small {
    max-width: 7em;
    text-overflow: ellipsis;
    overflow: hidden;
}

.input-autocomplete--popper {
    min-width: fit-content;
}