.input-text-view {
    max-height: 2em;
}

.input-text-view.edit .MuiFilledInput-input {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}


.input-text-view.edit .MuiSvgIcon-root {
    color: var(--mui-primary-light);
}

.input-text-view.edit .MuiSvgIcon-root:hover {
    cursor: pointer;
    color: var(--mui-primary-main);
}

.input-text-view.view .input-text-view--placeholder {
    color: var(--mui-grey-500);
    font-style: italic;
}


.input-text-view.view {
    display: flex;
    align-items: center;
    gap: 0.25em;
    cursor: text;
}

.input-text-view.view .input-text-view--edit {
    font-size: 0.75em;
}

.input-text-view.view .input-text-view--edit:hover {
    transform: rotate(15deg);
    cursor: pointer;
}