.automation-manager {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    gap: 0.25em;
}

.mobile .automation-manager, .automation-manager.error {
    flex-direction: column;
}

.automation-manager.loading .automation-manager--sidebar.loading {
    width: 25vh;
    height: 100%;
}

.automation-manager.loading .MuiSkeleton-root {
    height: 100%;
    width: 100%;
}

.automation-manager.loading .automation-manager--editor.loading {
    flex: 1;
    height: 100%;
}


.invalid-automation-modal-list {
    display: flex;
    max-height: 50vh;
    overflow: auto;
    flex-direction: column;
}

.invalid-automation-modal-list li {
    display: flex;
    flex-direction: column;
}

.invalid-automation-modal-list--errors ul {
    max-height: 10vh;
    overflow: auto;
}