.automation-manager.mobile .automation-manager--sidebar.shown {
    height: 100vh;
    min-height: 100vh;
    min-width: 100vw;
}

.automation-manager.mobile .automation-manager--sidebar .automation-manager--sidebar-box--bottom-buttons .hide-btn {
    transform: rotate(-90deg);
    left: 0.5em;
    background-color: var(--mui-background-paper);
    height: 2em;
    width: 2em;
}

.automation-manager.mobile .automation-manager--sidebar.hidden {
    height: 0;
    min-height: 0;
}

.automation-manager.mobile .automation-manager--sidebar.hidden .automation-manager--sidebar-box--nav,
.automation-manager.mobile .automation-manager--sidebar.hidden .automation-manager--sidebar-box--list {
    display: none;
}

.automation-manager.mobile .automation-manager--sidebar.hidden .automation-manager--sidebar-box--bottom-buttons {
    height: 0;
}

.automation-manager.mobile .automation-manager--sidebar.hidden .automation-manager--sidebar-box--bottom-buttons .hide-btn {
    transform: rotate(90deg);
    top: 1em;
    z-index: 100;
}

.automation-manager.mobile .automation-editor--flow-wrapper--toolbar {
    align-items: center;
}

.automation-manager.mobile .automation-editor--flow-wrapper--toolbar--title {
    padding-left: 2.5em;
    justify-content: center;
    flex-direction: column;
}

.automation-manager.mobile .automation-editor--flow-wrapper--toolbar--title--text .input-text-view.view span {
    max-height: 1.25em;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    word-wrap: break-word;
}

.automation-manager.mobile .automation-editor--flow-wrapper--toolbar--title--text .id,
.automation-manager.mobile .automation-editor--flow-wrapper--toolbar--title .input-text-view.description,
.automation-manager.mobile .automation-editor--flow-wrapper--toolbar--edit-btn {
    display: none;
}