.automation-list--metadatabox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 0.25em;

    padding: 0.25em;
    background-color: var(--mui-background-paper);

    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    border-radius: 10px;
}

.automation-list--metadatabox:hover, .automation-list--metadatabox.selected {
    border-color: var(--mui-action-focus);
    background-color: var(--mui-action-focus);
}

.automation-list--metadatabox .metadatabox--title .input-text-view {
    max-width: fit-content;
}

.automation-list--metadatabox .metadatabox--title {
    flex: 1;
}

.automation-list--metadatabox .metadatabox--title .title {
    font-size: 1.25em;
    font-weight: bold;
}

.automation-list--metadatabox .metadatabox--title .issue {
    padding: 0 0.5em;
    user-select: none;
    max-width: fit-content;
}

.automation-list--metadatabox .metadatabox--title .description {
    font-size: 0.9em;
}

.automation-list--metadatabox .delete:hover {
    cursor: pointer;
    color: var(--mui-error-light);
    background-color: var(--mui-error-dark);
}

.automation-list--metadatabox .select:hover,
.automation-list--metadatabox.selected.automation-list--metadatabox .select {
    cursor: pointer;
    color: var(--mui-primary-light);
    background-color: var(--mui-primary-dark);
}

.automation-list--metadatabox.selected.automation-list--metadatabox .select:hover {
    color: var(--mui-secondary-light);
    background-color: var(--mui-secondary-dark);
    cursor: default;
}

.automation-list--metadatabox .metadatabox--switch {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.75em;
    user-select: none;
    max-width: 5em;
}

.automation-list--metadatabox .metadatabox--tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.25em;
    margin-top: 0.25em;
}

.automation-list--metadatabox .metadatabox--tags .tag,
.automation-list--metadatabox .metadatabox--tags .tag-add {
    display: flex;
    max-width: fit-content;
    align-items: center;
    gap: 0.25em;

    border-color: var(--mui-grey-400);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.5em;
    padding: 0.1em 0.5em;
}

.automation-list--metadatabox .metadatabox--tags .tag-add {
    cursor: pointer;
    color: var(--mui-success-light);
    border-color: var(--mui-success-main);
}

.automation-list--metadatabox .metadatabox--tags .tag-add:hover {
    background-color: var(--mui-success-light);
    color: var(--mui-success-contrastText);
}

.automation-list--metadatabox .metadatabox--tags .tag .delete-tag {
    font-size: 1em;
}

.automation-list--metadatabox .metadatabox--tags .tag .delete-tag:hover {
    cursor: pointer;
    color: var(--mui-error-light);
    outline: 1px solid var(--mui-error-dark);
    border-radius: 20px;
}

.automation-list--metadatabox .metadatabox--tags .tag .inner {
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: text;
    user-select: none;
}

.automation-list--metadatabox .metadatabox--tags .tag .inner .edit-icon {
    height: 0.7em;
    width: 0.7em;
    padding: 0.15em;
}


.metadatabox--tags--modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25em;
}

.metadatabox--tags--modal .input-autotext {
    min-width: calc(max(10em, 100%));
}

.metadatabox--tags--modal .buttons {
    display: flex;
    gap: 0.5em;
    justify-content: space-evenly;
}