.MuiButtonBase-root.icon-button[type="button"] {
    border-width: 1px;
    border-style: solid;
    max-width: 1.5em;
    max-height: 1.5em;
}

.MuiButtonBase-root.borderless.icon-button[type="button"] {
    border-width: 0;
}