.automation-node {
  display: flex;
  flex-direction: row;

  &-inner {
    padding: 10px;
    border-radius: 25px;
    background-color: $secondary;
    max-width: 200px;
    max-height: 75px;
    min-width: 200px;
    min-height: 75px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;

    &-text {
      flex: 2;
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
    }
    &-edge {
      flex: 1;
      border-radius: 30px;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;

      justify-content: space-around;
      align-items: center;
      &.left {
        border-left: 1px $secondary-accent solid;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      &.right {
        border-right: 1px $secondary-accent solid;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
      &:hover {
        background-color: $primary-accent;
        cursor: pointer;
      }
    }
  }
  &-children {
    min-width: 250px;
    padding: 2.5px;

    &.closed {
      height: 0;
      width: 0;
      display: none;
    }
    &.open {
      border-radius: 25px;
      border-color: $secondary-accent;
      border-width: 1px;
      border-style: solid;
      display: flex;
      flex-direction: column;
    }
  }
}
