.new-node-modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  &--background {
    position: absolute;
    z-index: 0;
    width: 100vw;
    height: 100vw;
    background-color: rgba($secondary, 0.5);
  }

  &--inner {
    z-index: 1;
    max-width: 80%;
    max-height: 60%;
    min-height: 200px;
    min-width: 200px;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    background-color: $primary;
    border: 1px solid $primary-accent;
  }
  &--title {
    text-align: center;
    padding: 10px;
    font-weight: bold;
  }
  &--body {
    flex-grow: 1;
  }
  &--footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
