.mobile .condition-node-base {
    flex-direction: column;
    justify-content: center;
}

.mobile .condition-node-base .condition-node-base--list {
    flex-direction: row;
    display: flex;
    min-width: 100%;
}

.mobile .condition-node-base .condition-node-base--body {
    min-height: 3em;
    max-width: 100%;
}

.mobile .condition-node-base .condition-node-base--body.edit {
    max-height: 500px;
}