.condition-node--settings {
    width: 4em;
    display: flex;
    gap: 0.5em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.condition-node--settings--icons {
    display: inline-block;
    max-width: 5em;
    max-height: 5em;
}

.condition-node--settings--wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-width: 5em;
    min-height: 5em;
}

.condition-node--settings button.Mui-disabled {
    cursor: not-allowed;
}

.condition-node--settings .speed-dial, .condition-node--settings .speed-dial--icon {
    min-height: 2.5em;
    height: 2.5em;
}

.condition-node--settings .speed-dial--button {
    max-width: 4em;
    max-height: 4em;
    height: 4em;
    width: 4em;
}

.condition-node--settings .speed-dial--button:hover button {
    background-color: var(--secondary-accent);
}