.condition-node--settings.mobile {
    width: 3em;
}

.condition-node--settings.mobile .speed-dial--button {
    max-width: 4em;
    max-height: 4em;
    height: 4em;
    width: 4em;
}

.condition-node--settings.mobile .speed-dial--button:hover button {
    background-color: var(--secondary-accent);
}

.condition-node--settings.mobile .speed-dial--list.open {
    top: 3.5em;
    /* left: 0.5em; */
}