.node-editor--root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0.5em;
    margin-top: 0.5em;
}

.node-editor--root.disabled {
    background-color: var(--mui-secondary-contrastText);
}

.node-editor--root.disabled .enabled-flag {
    color: var(--mui-grey-700);
}

.node-editor--root.modded {
    border: 1px solid var(--mui-success-light);
    border-radius: 5px;
}

.node-editor--root.modded * {
    border-color: var(--mui-success-light);
}

.node-editor--root.not-ready .node-editor--footer--save {
    color: var(--mui-error-main)
}

.node-editor--body-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 6px;
}

.node-editor--body-title>* {
    flex: 1;
}

.node-editor--body {
    overflow: hidden;
    padding-left: 1%;
    padding-right: 1%;

    min-width: 100%;
    min-height: fit-content;
    max-width: 100%;
}

.node-editor--body--options {
    overflow: auto;
    max-height: 60vh;
}

.node-editor--footer {
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 50px;
    min-width: 25vw;
}

.node-editor--mui-error-main {
    max-width: 30em;
    overflow: auto;
    max-height: 10em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0.5em 0 1.5em;
    margin: 0;
}

.node-editor--mui-error-main>li {
    text-align: left;
}

.node-editor--body-flags {
    padding-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.node-editor--body-flags .MuiCheckbox-root {
    margin: 0;
    padding: 0 0 0 0;
}