.node-editor--root {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    height         : 100%;
}

.node-editor--body-title {
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
}

.node-editor--body {
    flex         : 1;
    overflow     : overlay;
    width        : 100%;
    min-width    : fit-content;
    padding-left : 1%;
    padding-right: 1%;
    /* resize    : auto;
    min-width    : fit-content;
    max-height   : 100%;
    min-height   : fit-content; */
}

.node-editor--footer {
    bottom         : 0;
    left           : 0;
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    align-items    : center;
    width          : 100%;
    min-height     : 50px;
}
