.multinode-editor {
    max-width: 80vw;
    min-width: 60vw;
}

.multinode-editor.mobile {
    max-width: 95vw;
}

.multinode-editor .node-editor--root {
    padding: 0;
}

.multinode-editor .node-editor--body {
    padding-bottom: 1em;
    padding-top: 0.25em;
    padding-left: 0.25em;
    padding-right: 0.25em;
    max-height: 60vh;
}

.multinode-editor--navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    min-width: 20vw;
}

.multinode-editor.modded>.multinode-editor--navbar * {
    border-color: var(--green-light);
}

.multinode-editor.modded .multinode-editor--total {
    color: var(--green-light)
}

.multinode-editor.modded .node-editor--footer--save {
    border-color: var(--green-opaque);
    background-color: var(--green-light);
    color: var(--primary);
}

.multinode-editor.modded .node-editor--footer--save:hover {
    border-color: var(--green-light);
    background-color: var(--green-opaque);
    color: var(--green-light);
}