.input-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 0.25em;

  label {
    font-size: 10px;
    position: absolute;
    left: 0.75em;
    top: 0.5em;
    font-weight: bold;
  }
  select,
  textarea,
  input {
    padding-top: 16px;
    padding-left: 8px;
    resize: none;
  }
  // .input-view {
  //   @extend input;
  //   cursor: default;
  // }
  // a.icon {
  //   cursor: pointer;
  //   position: absolute;
  //   right: 0.5em;
  //   top: 0.5em;

  //   &:hover {
  //     transform: rotate(90deg);
  //     > svg {
  //       fill: $secondary-accent;
  //     }
  //   }

  //   &.opened {
  //     transform: rotate(360deg);
  //     height: 0.5em;
  //     right: 0.25em;
  //     &.checkmark {
  //       opacity: 1;
  //       z-index: 1;
  //     }
  //     &.pencil {
  //       opacity: 0;
  //       z-index: -1;
  //     }
  //   }

  //   &.pencil {
  //     opacity: 1;
  //     z-index: 1;
  //   }
  //   &.checkmark {
  //     opacity: 0;
  //     z-index: -1;
  //   }
  // }
}
