.version-box {
    position: absolute;
    bottom: -0.5em;
    right: 0;
    font-size: 0.5em;
}

.version-box #circle {
    color: var(--mui-primary-main);
    height: 1em;
    width: 1em;
}

.version-box #circle.error {
    color: var(--mui-error-main);
}


.version-box #circle.loaded {
    color: var(--mui-success-light);
}