.dagnode-error {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 0.85em;
    z-index: 0;
}

.dagnode-error.open .dagnode-error--inner {
    align-items: flex-start;
    padding-top: 1em;
}

.dagnode-error--inner {
    position: relative;
    flex: 1;

    /* internal positioning */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5em;

    /* shape */
    background-color: var(--mui-error-dark);
    border-radius: 1em;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-color: var(--mui-error-main);
}

.dagnode-error--inner:hover {
    background-color: var(--mui-error-contrastText);
    cursor: default;
}

.dagnode-error--inner--edit-icon:hover {
    transform: rotate(180deg);
    cursor: pointer;
    background-color: var(--mui-error-main);
    padding: 0.5em;
    border-radius: 10px;
    height: 0.25em;
    width: 0.25em;
}